@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  @apply bg-primary overflow-x-hidden overflow-y-scroll;
}

body::-webkit-scrollbar {
  display: none;
}

.nav-div > a {
  @apply transition-all text-lg text-center duration-300 w-32;
}
.nav-div > a:hover {
  @apply text-zinc-300;
}

.nav-logo {
  @apply transition-all duration-300;
}


.hoverPrimary:hover {
  @apply bg-zinc-50 border-zinc-50 text-black bg-none;
}

.hoverSecondary:hover {
  @apply bg-zinc-500 border-zinc-500 text-white bg-none;
}

.no-scrollbar::-webkit-scrollbar {
  display: none;
}

.primary-gradient {
  @apply bg-gradient-to-br from-primary to-primary2 transition-all;
}

.black-gradient {
  @apply bg-gradient-to-br from-zinc-950 to-black transition-all;
}

.white-gradient {
  @apply bg-gradient-to-br from-zinc-50 to-zinc-300 transition-all;
}

.hover:hover {
  cursor: pointer;
}

.package-div:hover {
  @apply shadow-xl border-white;
}

input[type='checkbox'] {
  accent-color: black;
}

input[type='radio'] {
  accent-color: black;
}
